  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 10px 5px;
    color:#0A0773;
    font-size: 1.5rem;
  }
 

  @media screen and (min-width: 768px) {
           #Portfolio {
            flex-wrap: wrap;
            flex-direction: row;
          }

          #Portfolio span {
            flex: 100%;            
            }
          
            #Portfolio h2 {
              width: 140px;
              /* text-align: center; */
              /* margin:0 auto 15px auto; */
            }

            #Portfolio .card{
              margin:10px;
              width: 380px;
            }
  }