h2{
    padding: 30px 10px 5px 0px;
    margin-left: 15px;
    border-bottom: 3px solid #0A0773;
    font-weight: 500;    
}
p{
    padding:0px 15px 5px 15px;
}

.subtitle{
   border:none;
   padding:5px 0px 0px 0px;
   margin-left: 10px;   
}

#About .direction-C div{
    align-self: stretch;
   }   

h6{
 align-self: flex-start;
 margin:10px 10px 5px 10px;
}

@media screen and (min-width: 768px) {
   #About .flex-container{
    flex-direction: row;
    flex-wrap: wrap;
   }

   #About .direction-C h2{
    flex:100%;
    text-align:center;
   }

   #About .direction-C div{
    flex:50%;
   }      
    
}