/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: none; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin: 5px; /* Add a top margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color:#F2F2F2;
  }

   input:focus, textarea:focus{
    border-color: #0A0773;
    outline-color: #0A0773;
  }
  
  .contact span {  
    color:black;
    font-size: 1rem;
    vertical-align: top;
    margin-left: 7px;
  }
  

  .contact {
    padding: 10px 5px;
    color:#0A0773;
    font-size: 1.5rem;    
  }

  .submit{
    margin-top:30px;
  }

  @media screen and (min-width: 768px) {
   

   #Contact > div  {   
     display:flex;
     flex-direction: column;
     margin:0 auto;
     align-items:center;  
     }

     .contact{
      margin-top:10px;
     }
   
     #Contact h2{
       width: 130px;       
       /* margin:0 auto 25px auto; */
       /* text-align: center; */
     }
     

    
}